body{
    /* background-image: url("https://thumbs.dreamstime.com/b/beautiful-rain-forest-ang-ka-nature-trail-doi-inthanon-national-park-thailand-36703721.jpg"); */
    /* background-repeat: repeat; */
    /* background-repeat: no-repeat; */
     /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    /* background-size: cover; */
    /* background-size: contain; */
    /* background-size: auto; */
    /* background-position: top right; */
    /* background-size: 100% 100%; */
    /* background-attachment: fixed; */
    /* background-attachment: scroll; */
    background: purple fixed url("https://thumbs.dreamstime.com/b/beautiful-rain-forest-ang-ka-nature-trail-doi-inthanon-national-park-thailand-36703721.jpg") no-repeat top right;

}
/* h4,div{
    background-color: aqua;
} */
h3{
    color:#a755bb;
}
p{
    color: rgb(20,100,255);
}
span{
    color: rgba(20, 98, 255, 0.865);
}
h4{
    color: hsl(360, 50%, 100%);
}
div{
    color: hsla(0, 0%, 100%, 0.918);
}