.container {
      border: 2px solid black;
      padding: 10px;
      margin-bottom: 20px;
    }

    .highlight {
      background-color: yellow;
    }

    table {
      border-collapse: collapse;
    }

    td, th {
      border: 1px solid black;
      padding: 6px;
    }