/* Button styling */
button {
    padding: 10px 20px;
    background-color: steelblue;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

/* Overflow properties */
.box {
    width: 200px;
    height: 100px;
    border: 2px solid black;
    margin: 20px;
    overflow: auto;
}

/* Float properties */
.float-left {
    float: left;
    width: 150px;
    height: 100px;
    background-color: lightgray;
    margin: 10px;
}

.float-right {
    float: right;
    width: 150px;
    height: 100px;
    background-color: lightgreen;
    margin: 10px;
}

.clear {
    clear: both;
}