/* Common box style */
.box {
    width: 120px;
    height: 120px;
    background-color: steelblue;
    margin: 40px;
    display: inline-block;
    color: white;
    text-align: center;
    line-height: 120px;
    font-weight: bold;
}

/* 1. 2D Transform */
.transform-box:hover {
    transform: translate(50px, 20px) rotate(20deg) scale(1.2) skew(10deg);
    transition: transform 0.5s;
}

/* 2. Animation */
.animate-box {
    background-color: tomato;
    animation: moveBox 3s infinite alternate;
}

/* Keyframes */
@keyframes moveBox {
    from {
        transform: translateX(0);
        background-color: tomato;
    }

    to {
        transform: translateX(200px);
        background-color: orange;
    }
}